{% load static %}
<div class="navbar-container">
        <!-- logo -->
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static "images/Rai's Bookstore-logos_white.png" %}" alt="">
        </a>
    </div>

    <!-- search books -->
    <div>
        <form action="" method="get">
            <input type="text" name="q" placeholder="Search Books...">
        </form>
    </div>

    <!-- login/logout -->
    <nav>
        <ul class="nav__links">
            {% if not request.user.is_authenticated %}
            <li><a href="{% url 'login' %}">Login/Register</a></li>
            {% else %}
            <a href="{% url 'user-profile' %}" class="user-button"><button>Hi, {{request.user|truncatechars:10}}</button></a>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <a href="{% url 'cart' %}" class="cart">
                <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                <p id="count">{{itemsCount}}</p>
            </a>
            {% endif %}
        </ul>
        
    </nav>
        
</div>



